@import './data-flex.css';

body {
  margin: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background-color: #fff;
}
* {
  margin: 0;
}

#J_Fengdie_Tips_Render {
  display: none;
}

.stock-green {
    color: #1caa3d;
}
.stock-nomal {
    color: #333;
}
.stock-red {
    color: #ff0030;
}